html {height: 100%;}

body {
    min-height: 100%;
    padding: 40px 0 0;
}

/* Fix Box Model */
* {@include box-sizing(border-box);}

.confirm-notification {
    background-color: #FBF803;
    border: 1px solid $txt-copy;
    color: #333;
    font: 700 13px/23px arial;
    margin: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;

    .confirm-notification a {
        color: #333;
        text-decoration: underline;
    }
}

/**
 * Base Layout
 */
 .content {
    border-top: 40px solid #3B5998;
    height: 100%;
    margin-top: -40px;

    .wrapper {
        height: 100%;
        margin: 0 auto;
        max-width: 1130px;
        min-width: 320px;
        overflow: hidden;
        padding-left: 180px;
        padding-right: 160px;
        position: relative;
    }
}

.left-bar, .right-bar, .main-content {
    float: left;
    min-height: 100%;
    position: relative;
}

.left-bar {
    background-color: #fff;
    border-right: 1px solid #666;
    left: 0;
    position: absolute;
    width: 180px;
}

.right-bar {
    margin-right: -100%;
    padding: 10px 0 0;
    width: 160px;
}

.main-content {
    @extend .container;
    padding: 10px;
    width: 100%;
}

.widget, .widget-group {
    margin-bottom: 10px;

    .widget {margin-bottom: 0;} 
}

/**
 * Responsive Layouts
 */

.bedugger-title {
    color: red;
    display: none;
    text-align: center;

    @media (min-width: 1200px) {
        &.large-desktop {display: block;}
    }

    @media (min-width: 1025px) and (max-width: 1199px) {
        &.desktop {display: block;}
    }

    @media (max-width: 1024px) and (min-width: 801px) {
        &.tablet-landscape {display: block;}
    }

    @media (max-width: 800px) and (min-width: 769px) {
        &.small-tablet-landscape {display: block;}
    }

    @media (max-width: 768px) and (min-width: 601px) {
        &.tablet-portrait {display: block;}
    }

    @media (max-width: 600px) and (min-width: 481px) {
        &.small-tablet-portrait {display: block;}
    }

    @media (max-width: 480px) and (min-width: 321px) {
        &.mobile-landscape {display: block;}
    }

    @media (max-width: 320px) {
        &.mobile-portrait {display: block;}
    }
}

/* Large desktop */
@media (min-width: 1200px) {}

/* Desktop */
@media (min-width: 1025px) {
    body {min-width: 1024px;}

    .show-tablet,
    .show-phone {display: none;}

    .show-desktop {display: block;}
}
 
/* Tablet landscape and down (1024) */
@media (max-width: 1024px) {
    body {
        @include transition(.3s, padding, ease);
        max-width: 1024px;
    }
    .show-desktop,
    .show-phone {display: none;}

    .show-tablet {display: block;}

    .content {
        .wrapper {
            padding-left: 0;
            width: auto;

            .left-bar {
                border-top: 40px solid #3B5998;
            }
        }

        .shadow {
            @include transition(.3s, left, ease);
            background: none #000;
            bottom: 0;
            left: 0;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 40px;
            visibility: hidden;
            z-index: 1002;
        }
    }

    .left-bar {display: none;}

    .left-bar-tablet {
        border-top: 40px solid #3B5998;
        display: none;
        margin-top: -40px;
        opacity: 1;
        padding: 0;
        position: static;
        visibility: visible;
        width: 180px;
        z-index: 0;
    }

    .pushed {
        .left-bar-tablet {display: block;}

        .content {
            bottom: 0;
            box-shadow: -2px 0 20px rgba(0, 0, 0, 0.2);
            left: 180px;
            overflow: hidden;
            position: fixed;
            top: 0;
            width: 100%;
        }

        .shadow {
            opacity: 0.5;
            visibility: visible;
        }
    }
}

/* Small Tablet landscape and down */
@media (max-width: 800px) {}

/* Tablet portrait and down */
@media (max-width: 768px) {}

/* Small tablet portrait  and down */
@media (max-width: 600px) {}

/* Mobile Landscape and down */
@media (max-width: 480px) {
    body {max-width: 480px;}

    .show-phone {display: block;}

    .content .wrapper {padding: 0px;}

    .right-bar {display: none;}

    .main-content {padding: 10px 1% 0;}

    .w-banner {display: none;}
}

/* Mobile Portrait (320x480) */
@media (max-width: 320px) {
    body {max-width: 320px;}
}
