/**
 * Left Bar Component
 */
 
/**
 * User Badge
 */
.w-user-badge {
    margin: 2px 0 8px 9px;

    .badge-title {
        font: 400 11px/20px arial;
        margin: 0;

        * {color: #666;}
    }

    .badge-avatar {
        display: block;
        float: left;

        img {
            background-color: #EFEFEF;
            height: 51px !important;
            width: 51px !important;
        }
    }

    .badge-menu {
        margin: 0 0 0 51px;
        padding: 0;

        li {
            cursor: pointer;
            height: 17px;
            line-height: 14px;
            list-style: none outside none;
            margin: 0;
            padding: 0 0 0 8px;
            text-overflow: ellipsis;

            &.active {background-color: rgba(0, 0, 0, .2);}

            &:hover {background-color: rgba(0, 0, 0, .1);}

            a {
                @include ellipsis();
                display: block;
                color: #666;
                font: 12px/17px arial;
                text-decoration: none;
            }

            &.active a {
                color: #333;
                font-weight: 700;
            }

            &:hover a {color: #333;}
        }

        .open > .dropdown-menu {display: none;}

        .open:hover > .dropdown-menu {display: block;}

        .dropdown-menu {
            border: 1px solid #A3A3A3;
            border-radius: 4px;
            left: 86px;
            margin-top: -5px;
            min-width: auto;
            padding: 0;
            text-align: center;
            top: -50%;
            width: 90px;

            * {
                border-bottom: 1px solid #A3A3A3;
                font-weight: normal !important;
                height: 20px;
                line-height: 20px;
                margin: 0;
                padding: 0;

                &:hover {background: none #D8DEEA;}

                &:last-child {border: 0 none;}
            }
        }

    }
}

/**
 * Incoming Chats
 */
.wg-incoming-chats {
    @extend .clearfix;
    border-bottom: 1px solid #A3A3A3;
    border-top: 1px solid #A3A3A3;
    color: #666;
    height: 22px;
    margin: 0 10px 8px 9px;

    .incoming-chats-title {
        float: left;
        font: 300 11px/20px arial;
        margin: 0 0 0 1px;
    }

    .btn {
        background-color: #EE432E;
        background-image: -moz-linear-gradient(center top , #F25036 0%, #F06C59 50%, #F1290D 50%, #DD301F 100%);
        background-image: -webkit-linear-gradient(center top , #F25036 0%, #F06C59 50%, #F1290D 50%, #DD301F 100%);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F25036), to(#F06C59));
        background-image: linear-gradient(center top , #F25036 0%, #F06C59 50%, #F1290D 50%, #DD301F 100%);
        border: 1px solid #B31D0A;
        border-radius: 5px 5px 5px 5px;
        color: #fff;
        float: right;
        font: 300 10px/8px tahoma;
        height: 14px;
        letter-spacing: 1px;
        margin: 3px 15px 2px;
        padding: 2px 5px 2px 6px;
        text-transform: uppercase;
    }
}

/**
 * Menu
 */
[class*="wg-menu"] {
    margin: 0 0 18px;

    .menu-title {
        color: #666;
        cursor: text;
        font: 300 14px/11px arial;
        margin: 0 0 8px 10px;
        text-decoration: none;
        text-transform: uppercase;
    }

    menu {
        margin: 0;
        padding: 0;
    }

    li {
        display: block;
        height: 28px;
        padding: 2px 0;
        position: relative;

        .icon {
            margin-top: -12px;
            position: absolute;
            top: 50%;
            width: 30px;
        }

        &.active {background: none rgba(0, 0, 0, .2);}

        &.active a {
            color: #333;
            font-weight: 700;
        }

        &:hover {background: none rgba(0, 0, 0, .1);}

        a {
            color: #666;
            display: block;
            font: 12px arial;
            height: 24px;
            margin: 0;
            padding: 6px 10px 0 43px;
            text-decoration: none;
        }

        &.active a {
            color: #333;
            font-weight: 700;
        }

        .counter {
            background-color: #EB2629;
            border: 0 none;
            border-radius: 2px;
            box-shadow: 0 0 0 0 transparent;
            color: #fff;
            display: inline-block;
            font: 400 10px/14px arial;
            left: 2px;
            padding: 0 3px;
            position: relative;
            text-shadow: 0 0 0 transparent;
            top: -6px;
        }

        .counter:before {
            border-style: solid;
            border-top: 3px solid #EB2629;
            border-width: 3px 4px 0 0;
            bottom: -7px;
            color: transparent;
            content: "";
            height: 4px;
            left: 50%;
            margin: 0 0 0 -3px;
            position: absolute;
        }
    }
}

/* custom icons */
.item-home .icon                  {@include icon-img(50%, -21px);}
.item-search .icon                {@include icon-img(50%, -44px);}
.item-my-activity .icon           {@include icon-img(50%, -67px);}
.item-site-activity .icon         {@include icon-img(50%, -90px);}
.item-favorites .icon             {@include icon-img(50%, -115px);}
.item-friends .icon               {@include icon-img(50%, -137px);}
.item-local-matches .icon         {@include icon-img(50%, -159px);}
.item-who-is-online .icon         {@include icon-img(50%, -181px);}
.item-who-is-on-cam .icon         {@include icon-img(50%, -203px);}
.item-new-members .icon           {@include icon-img(50%, -225px);}
.item-featured-members .icon      {@include icon-img(50%, -247px);}
.item-hottest-members .icon       {@include icon-img(50%, -270px);}
.item-suggested-members .icon     {@include icon-img(50%, -293px);}
.item-feature-my-profile .icon    {@include icon-img(50%, -315px);}
.item-talk-to-basic-members .icon {@include icon-img(50%, -336px);}
.item-highlight-my-profile .icon  {@include icon-img(50%, -357px);}
.item-penic-pills .icon           {@include icon-img(50%, -379px);}
.item-pick-up-chicks .icon        {@include icon-img(50%, -401px);}
.item-have-better-sex .icon       {@include icon-img(50%, -423px);}

/**
 * Responsive Layouts
 */

/* Large desktop */
@media (min-width: 1200px) {}
 
/* Tablet and down (1024) */
@media (max-width: 1024px) {
    body {max-width: 1024px;}

    .w-user-badge, 
    .wg-incoming-chats {display: none;}

    .accordion {
        .accordion-group {
            border: 0 none !important;
            margin-bottom: 1px;
        }

        [class*="wg-menu"] {
            border: 0 none;
            margin: 0;

            .menu-title {
                margin: 0;

                a {
                    @include touch-button();
                    background-color: #dbdbdb;
                    display: table-cell;
                    float: none;
                    font: 300 14px/18px arial;
                    margin: 0 0 0 -1px;
                    padding: 17px 0 0 15px;
                    text-indent: 0;
                    width: 179px !important;
                }

                .caret {
                    border-width: 8px;
                    border-color: #666 transparent transparent;
                    float: right;
                    margin: 5px 10px 0 0;
                }

                .collapsed .caret {
                    border-top: 0 none;
                    border-bottom: 8px solid #666;
                }
            }

            li {
                height: 50px;
                padding: 0;

                a {
                    @include touch-button();
                    font-size: 11px;
                    padding: 17px 0 0 43px;
                    text-indent: 0;
                    width: 179px !important;
                }
            }
        }
    }

    .wg-menu-special-support li a {padding-left: 17px !important;}
}

/* Mobile Landscape and down */
@media (max-width: 480px) {}

/* Mobile Portrait (320x480) */
@media (max-width: 320px) {}
